<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value=""/>
    <add key="ClientSecret" value=""/>
    <add key="CustomerId" value=""/>
    <add key="DomainId" value=""/>
    <add key="APIHost" value="api.sep.securitycloud.symantec.com"/>
  </appSettings>
</configuration>
